@page "/edit/{Id}"


@using Blazor_kai.Data;
@inject HomeController HomeController;
@inject NavigationManager NavigationManager;
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
form{
    height: 680px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%);
    top: 150%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.name{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.radio{
    height: 25px;
    width: 10%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.description{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}
.btn{
    margin-top: 50px;
    width: 100%;
    background-color: #1b6ec2;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 57px;
    padding: 10px 38px 10px 16px;
    background: #fff url("select-arrows.svg") no-repeat right 16px center;
    background-size: 10px;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.custom-select:hover {
    border: 1px solid #999;
}
.custom-select:focus {
    border: 1px solid #999;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
    display:none;
}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    </style>

<form>

    <h3>Редактирование анкеты соискателя</h3>

    <div class="form-floating">
                <input @bind="@user.Name" id="name" class="form-control" autocomplete="username" aria-required="true" />
                <label >Имя пользователя</label>
                <span class="text-danger"></span>
    </div>
    <div class="form-floating">
                <input @bind="@user.eMail" id="email" class="form-control" autocomplete="username" aria-required="true" />
                <label >Email / Telegram</label>
                <span class="text-danger"></span>
    </div>
    <div class="form-floating">
                <input @bind="@user.Info" id="description" class="form-control" autocomplete="username" aria-required="true" />
                <label >Описание</label>
                <span class="text-danger"></span>
    </div>
    <div class="form-floating">
                <input @bind="@user.Vacansion" id="vacansion" class="form-control" autocomplete="username" aria-required="true" />
                <label >Вакансия</label>
                <span class="text-danger"></span>
    </div>
    <div>
        <label>Статус соискателя:</label>
        <select class="custom-select" @bind="@user.Status">
        <option selected value="sofinder">Кандидат</option>
        <option value="resume">Резюме на рассмотрении</option>
        <option value="interview">Собеседование</option>
        <option value="work">В штате</option>
        </select>
    </div>
    <button class="btn" type="button" @onclick="Edit" id="auth_btn">Добавить</button>
</form>
    <MudTimeline>
    @foreach(var h in hiss)
    {
        @if (@h.Record == "sofinder")
        {
            <MudTimelineItem>
                    <MudText>Кандидат @h.Time.Value.ToShortDateString()</MudText>
            </MudTimelineItem>
        }
        @if (@h.Record == "resume")
        {
            <MudTimelineItem>
                    <MudText>Резюме на рассмотрении @h.Time.Value.ToShortDateString()</MudText>
            </MudTimelineItem>
        }
        @if (@h.Record == "interview")
        {
            <MudTimelineItem Color="@MudBlazor.Color.Primary">
                    <MudText>Интервьюинг @h.Time.Value.ToShortDateString()</MudText>
            </MudTimelineItem>
        }
        @if (@h.Record == "work")
        {
            <MudTimelineItem>
                    <MudText Align="@Align.End">>Принят в штат @h.Time.Value.ToShortDateString()</MudText>
            </MudTimelineItem>
        }
    }
    
</MudTimeline>

@code {
    [Parameter]
    public string Id { get; set; }
    public int _Id { get; set; }
    List<History> hiss = null;
    User user = new User();
    protected override async Task OnInitializedAsync() {
        _Id = Convert.ToInt32(Id);
        user = HomeController.GetUser(_Id);
        hiss = HomeController.GetHistory(user);

    }
    public void Edit()
    {
        HomeController.Edit(user);
        NavigationManager.NavigateTo("/");
        
    }
}