@page "/list"
@inject HomeController HomeController;
@inject NavigationManager NavigationManager;
@using Blazor_kai.Data
@using AntDesign;
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>
.grid-container {
  display: grid;
  grid-template-rows:auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  padding: 10px;
}

.grid-item {
      padding: 10px;
      font-size: 15px;
      text-align: center;
}

.close{
    float: right;
    cursor: pointer;
}

.btn{
        display:inline-block;
        padding:15px;
        margin:20px;
        border:2px solid black;
        border-radius:10px;
        cursor: pointer;
        -webkit-transition: background  200ms;
        -moz-transition: background  200ms;
        -ms-transition: background  200ms;
        -o-transition: background  200ms;
        transition: background  200ms;
        }
        .btn:hover{
            background: #8a8888;
        }
        .btn:active{
            background: #787575;
        }

        
</style>

<div class="grid-container">
    @foreach (var h in users) {
    <button class="btn" @onclick="@(e => Redir(@h.Id))" style="width:90%">
                <Card class="grid-item" title="@h.Name" >
                    @h.Info
                    @if (@h.Status == "sofinder")
        {
            <MudTimelineItem>
                    <MudText>Кандидат</MudText>
            </MudTimelineItem>
        }
        @if (@h.Status == "resume")
        {
            <MudTimelineItem>
                    <MudText>Резюме на рассмотрении</MudText>
            </MudTimelineItem>
        }
        @if (@h.Status == "interview")
        {
            <MudTimelineItem>
                    <MudText>Интервьюинг</MudText>
            </MudTimelineItem>
        }
        @if (@h.Status == "work")
        {
            <MudTimelineItem Color=@MudBlazor.Color.Primary>
                    <MudText> Принят в штат</MudText>
            </MudTimelineItem>
        }
                </Card>
                </button>
    }
            </div>


@code {
    List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        users = HomeController.List();
    }


    public void Redir(int _id)
    {
        NavigationManager.NavigateTo($@"edit/{_id}");
    }

}